@media(min-width: 149px) {
    .icon-chevron-small-up {
        display: none;
        padding: 1.04vw;
        background: #00000096;
        font-size: 2.5vw;
        color: #ffffff;
        cursor: pointer;
        position: fixed;
        bottom: 1.04vw;
        right: 1.04vw;
        border-radius: 1.04vw;
    }
    body {
        font-family: arial, helvetica;
        background-size: 100%;
        color: #000000;
    }
    .imgwe {
        width: 7vw;
        height: 5vw;
    }
    .imgabe {
        width: 7vw;
        height: 5vw;
    }
    .menu {
        list-style: none;
        padding: 0.3vw;
        background: #000000;
        margin: auto;
        font-size: 5vw;
    }
    .menu li a {
        text-decoration: none;
        color: #c2c0c0;
        padding: 2.13vw;
        display: block;
    }
    .menu li {
        display: inline-block;
        text-align: center;
    }
    .menu li a:hover {
        background: #9494941e;
    }
    .intro {
        margin-top: 2.13vw;
    }
    .inicio {
        background-image: url(https://www.ionos.es/digitalguide/fileadmin/DigitalGuide/Teaser/web-development-t.jpg);
        background-size: 100%;
        -webkit-text-stroke: 0.052vw #000000;
        color: #c2c0c0;
        font-size: 8vw;
        margin-top: -2.13vw;
    }
    #div00 {
        background: #000000;
        padding: 1vw;
        color: #c2c0c0;
        font-size: 2.67vw;
    }
    #fondo1 {
        background-image: url(https://lh3.googleusercontent.com/pUdC0Frhazax-8Q1vQbJUtpCPZVrLwhQCm6a7rw6Oz6wrEg5KaO46IJqI1L2X0ZD7Cy6yZEoIokV-JUyTS5DVlHIg22DFKuHj0DjA86KQQ4cLZTMsLUMMpfbUBhwFdcgtolSt8PjVpJvoHTm9UmCrXPgvA9U4W0fJwC990NBoXOX-pANhaaI_uxxyWQzqndnCs2vawdntX8eYTfvl3xJAD7p22fPk0EcRvnWksb6aKJJZLMTvaTCyFja09IzXx3WiYdeg27uJpl_uTvV5M8jR-1ebA2Q5O7spN4CeUYZxa_MbPx0UkmWCQWPiQsHYff5wESb_F1D6970yffiA7IMh3_-DmHZwfwdD8Q3vX3SoyuJQrkRhaFkP4Oy84TE9WNTmXD4f0STwkAKHWZSfq4053qzMeu0T6zpMzKX5hGfJZ_BmwhKqC38gJHb-kt1pTwlHHnafO23tshDeVqpduQaeXV3P60JAckusmyvp5GERMbuTmXppJXGmLH79s8sK5WV2vVE3KnASbzBMNsEqYZomo6h2dYK5ZhVFS9ieLSPgLmmIMrawf2ZjIp4GygK1Hf7YXaBvvCPLOhMQIZ-UjneGTyku3NV-237c3Y6W4cDvF_6MtYWLmQW0RQbRWLWeHzoqAfnR-fl2VwXV8ZTWAqshB7gH76MHSO1iAxr5mEO7lJtIOXMzjk1ScqS3CFbN_9BTxj2iIJ1-LW0deIDeU2JHvY=w1666-h937-no?authuser=0);
        padding: 3vw;
    }
    .card-group {
        width: 100%;
        height: 100%;
        display: flex;
        max-width: 75vw;
        max-height: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        width: 100%;
        margin: 2.13vw;
        overflow: hidden;
        background: #fff;
        box-shadow: 0vw 0.10vw 1.06vw #00000033;
        cursor: default;
        transition: all 400ms ease;
    }
    .card-title {
        font-size: 1vw;
    }
    .card-text {
        font-size: 1vw;
    }
    .btn.btn-primary {
        width: 10vw;
        height: 2vw;
        font-size: 1vw;
    }
    .card:hover {
        box-shadow: 0.53vw 0.53vw 2.13vw #00000066;
        transform: translate(-3%);
    }
    .card img {
        width: 100%;
        height: 20vw;
    }
    .card .card-group {
        padding: 1.60vw;
        text-align: center;
    }
    .card .card-group p {
        line-height: 1.5vw;
        color: #6a6a6a;
    }
    .card .card-group h5 {
        margin-bottom: 1.60vw;
    }
    .card .card-group {
        text-decoration: none;
        display: inline-block;
        padding: 1.06vw;
        margin-top: 1.06vw;
    }
    #ser {
        background: #000000;
        padding: 1vw;
        color: #c2c0c0;
        font-size: 2.67vw;
    }
    #div0 {
        background-image: url(https://www.signea.fi/wp-content/uploads/2018/07/Signea-Intranet.jpg);
        background-size: 100%;
        color: #d6d6d6;
        font-size: 4vw;
        text-align: center;
        padding: 2vw;
    }
    #texto {
        color: #d6d6d6;
        font-size: 2.9vw;
        -webkit-text-stroke: 0.052vw #000000;
        text-align: center;
    }
    .carrusel {
        margin: auto;
        width: 40vw;
        height: 19.57vw;
    }
    body {
        text-align: center;
    }
    #trab {
        background: #000000;
        padding: 1vw;
        color: #c2c0c0;
        font-size: 2.67vw;
        margin-top: -1.6vw;
        margin-bottom: 2vw;
    }
    #div2 {
        font-size: 1.87vw;
        font-family: Arial;
    }
    #div3 {
        font-family: arial;
        font-size: 1.25vw;
        text-align: center;
    }
    .img1 {
        width: 15vw;
    }
    .img2 {
        width: 15vw;
    }
    .img3 {
        width: 15vw;
    }
    #cli {
        font-size: 5vw;
        color: #c2c0c0;
    }
    #cli2 {
        font-size: 2vw;
        color: #c2c0c0;
    }
    .clientes {
        font-size: 2.13vw;
    }
    .clientes li {
        display: inline-block;
        text-align: center;
    }
    #pagina {
        background: #000000;
        position: relative;
        min-height: 100%;
        margin-top: -1.2vw;
    }
    .be {
        width: 5vw;
        height: 5vw;
    }
    .lin {
        width: 2vw;
        height: 2vw;
    }
    #contenido {
        padding-bottom: 5.34vw;
        /* este valor debe ser igual o mayor al alto del pie */
    }
    .pie {
        height: 6vw;
        line-height: 0vw;
        background: #000000;
        color: #c2c0c0;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    #pie1 {
        line-height: 5.34vw;
        margin-left: 1.06vw;
        color: #c2c0c0;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #pie2 {
        text-align: right;
        color: #c2c0c0;
        line-height: 5.34vw;
        margin-right: 1.60vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #fondo {
        margin-top: -2vw;
        background-image: url(https://lh3.googleusercontent.com/pUdC0Frhazax-8Q1vQbJUtpCPZVrLwhQCm6a7rw6Oz6wrEg5KaO46IJqI1L2X0ZD7Cy6yZEoIokV-JUyTS5DVlHIg22DFKuHj0DjA86KQQ4cLZTMsLUMMpfbUBhwFdcgtolSt8PjVpJvoHTm9UmCrXPgvA9U4W0fJwC990NBoXOX-pANhaaI_uxxyWQzqndnCs2vawdntX8eYTfvl3xJAD7p22fPk0EcRvnWksb6aKJJZLMTvaTCyFja09IzXx3WiYdeg27uJpl_uTvV5M8jR-1ebA2Q5O7spN4CeUYZxa_MbPx0UkmWCQWPiQsHYff5wESb_F1D6970yffiA7IMh3_-DmHZwfwdD8Q3vX3SoyuJQrkRhaFkP4Oy84TE9WNTmXD4f0STwkAKHWZSfq4053qzMeu0T6zpMzKX5hGfJZ_BmwhKqC38gJHb-kt1pTwlHHnafO23tshDeVqpduQaeXV3P60JAckusmyvp5GERMbuTmXppJXGmLH79s8sK5WV2vVE3KnASbzBMNsEqYZomo6h2dYK5ZhVFS9ieLSPgLmmIMrawf2ZjIp4GygK1Hf7YXaBvvCPLOhMQIZ-UjneGTyku3NV-237c3Y6W4cDvF_6MtYWLmQW0RQbRWLWeHzoqAfnR-fl2VwXV8ZTWAqshB7gH76MHSO1iAxr5mEO7lJtIOXMzjk1ScqS3CFbN_9BTxj2iIJ1-LW0deIDeU2JHvY=w1666-h937-no?authuser=0);
        background-size: 130vw;
        padding: 3vw;
    }
    #map {
        height: 50vh;
        width: 100%;
    }
    #indi {
        color: #c2c0c0;
        font-size: 2vw;
    }
    #in {
        color: #c2c0c0;
        font-size: 1vw;
    }
}

@media(min-width: 992px) {
    .icon-chevron-small-up {
        display: none;
        padding: 1.04vw;
        background: #00000096;
        font-size: 2.5vw;
        color: #ffffff;
        cursor: pointer;
        position: fixed;
        bottom: 1.04vw;
        right: 1.04vw;
        border-radius: 1.04vw;
    }
    body {
        font-family: arial, helvetica;
        background-size: 100%;
        color: #000000;
    }
    .imgwe {
        width: 7vw;
        height: 5vw;
    }
    .imgabe {
        width: 7vw;
        height: 5vw;
    }
    .menu {
        list-style: none;
        padding: 0.3vw;
        background: #000000;
        margin: auto;
        font-size: 1.2vw;
    }
    .menu li a {
        text-decoration: none;
        color: #c2c0c0;
        padding: 2.13vw;
        display: block;
    }
    .menu li {
        display: inline-block;
        text-align: center;
    }
    .menu li a:hover {
        background: #9494941e;
    }
    .intro {
        margin-top: 2.13vw;
    }
    .inicio {
        background-image: url(https://www.ionos.es/digitalguide/fileadmin/DigitalGuide/Teaser/web-development-t.jpg);
        background-size: 100%;
        -webkit-text-stroke: 0.052vw #000000;
        color: #c2c0c0;
        font-size: 8vw;
        margin-top: -2.13vw;
    }
    #div00 {
        background: #000000;
        padding: 1vw;
        color: #c2c0c0;
        font-size: 2.67vw;
    }
    #fondo1 {
        background-image: url(https://lh3.googleusercontent.com/pUdC0Frhazax-8Q1vQbJUtpCPZVrLwhQCm6a7rw6Oz6wrEg5KaO46IJqI1L2X0ZD7Cy6yZEoIokV-JUyTS5DVlHIg22DFKuHj0DjA86KQQ4cLZTMsLUMMpfbUBhwFdcgtolSt8PjVpJvoHTm9UmCrXPgvA9U4W0fJwC990NBoXOX-pANhaaI_uxxyWQzqndnCs2vawdntX8eYTfvl3xJAD7p22fPk0EcRvnWksb6aKJJZLMTvaTCyFja09IzXx3WiYdeg27uJpl_uTvV5M8jR-1ebA2Q5O7spN4CeUYZxa_MbPx0UkmWCQWPiQsHYff5wESb_F1D6970yffiA7IMh3_-DmHZwfwdD8Q3vX3SoyuJQrkRhaFkP4Oy84TE9WNTmXD4f0STwkAKHWZSfq4053qzMeu0T6zpMzKX5hGfJZ_BmwhKqC38gJHb-kt1pTwlHHnafO23tshDeVqpduQaeXV3P60JAckusmyvp5GERMbuTmXppJXGmLH79s8sK5WV2vVE3KnASbzBMNsEqYZomo6h2dYK5ZhVFS9ieLSPgLmmIMrawf2ZjIp4GygK1Hf7YXaBvvCPLOhMQIZ-UjneGTyku3NV-237c3Y6W4cDvF_6MtYWLmQW0RQbRWLWeHzoqAfnR-fl2VwXV8ZTWAqshB7gH76MHSO1iAxr5mEO7lJtIOXMzjk1ScqS3CFbN_9BTxj2iIJ1-LW0deIDeU2JHvY=w1666-h937-no?authuser=0);
        padding: 3vw;
    }
    .card-group {
        width: 100%;
        display: flex;
        max-width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        width: 100%;
        margin: 2.13vw;
        overflow: hidden;
        background: #fff;
        box-shadow: 0vw 0.10vw 1.06vw #00000033;
        cursor: default;
        transition: all 400ms ease;
    }
    .card:hover {
        box-shadow: 0.53vw 0.53vw 2.13vw #00000066;
        transform: translate(-3%);
    }
    .card img {
        width: 100%;
        height: 20vw;
    }
    .card .card-group {
        padding: 1.60vw;
        text-align: center;
    }
    .card .card-group p {
        line-height: 1.5vw;
        color: #6a6a6a;
    }
    .card .card-group h5 {
        margin-bottom: 1.60vw;
    }
    .card .card-group {
        text-decoration: none;
        display: inline-block;
        padding: 1.06vw;
        margin-top: 1.06vw;
    }
    #ser {
        background: #000000;
        padding: 1vw;
        color: #c2c0c0;
        font-size: 2.67vw;
    }
    #div0 {
        background-image: url(https://www.signea.fi/wp-content/uploads/2018/07/Signea-Intranet.jpg);
        background-size: 100%;
        color: #d6d6d6;
        font-size: 4vw;
        text-align: center;
    }
    #texto {
        color: #d6d6d6;
        font-size: 2.9vw;
        -webkit-text-stroke: 0.052vw #000000;
        text-align: center;
    }
    .carrusel {
        margin: auto;
        width: 40vw;
        height: 19.57vw;
    }
    body {
        text-align: center;
    }
    #trab {
        background: #000000;
        padding: 1vw;
        color: #c2c0c0;
        font-size: 2.67vw;
        margin-top: -1.6vw;
        margin-bottom: 2vw;
    }
    #div2 {
        font-size: 1.87vw;
        font-family: Arial;
    }
    #div3 {
        font-family: arial;
        font-size: 1.25vw;
        text-align: center;
    }
    .img1 {
        width: 15vw;
    }
    .img2 {
        width: 15vw;
    }
    .img3 {
        width: 15vw;
    }
    #cli {
        font-size: 5vw;
        color: #c2c0c0;
    }
    #cli2 {
        font-size: 2vw;
        color: #c2c0c0;
    }
    .clientes {
        font-size: 2.13vw;
    }
    .clientes li {
        display: inline-block;
        text-align: center;
    }
    .be {
        width: 5vw;
        height: 5vw;
    }
    .lin {
        width: 2vw;
        height: 2vw;
    }
    #pagina {
        position: relative;
        min-height: 100%;
        margin-top: -1.2vw;
    }
    #contenido {
        padding-bottom: 5.34vw;
        /* este valor debe ser igual o mayor al alto del pie */
    }
    #pie {
        height: 6vw;
        line-height: 0vw;
        background: #000000;
        color: #c2c0c0;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    #pie1 {
        line-height: 5.34vw;
        margin-left: 1.06vw;
        color: #c2c0c0;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #pie2 {
        text-align: right;
        color: #c2c0c0;
        line-height: 5.34vw;
        margin-right: 1.60vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #fondo {
        margin-top: -2vw;
        background-image: url(https://lh3.googleusercontent.com/pUdC0Frhazax-8Q1vQbJUtpCPZVrLwhQCm6a7rw6Oz6wrEg5KaO46IJqI1L2X0ZD7Cy6yZEoIokV-JUyTS5DVlHIg22DFKuHj0DjA86KQQ4cLZTMsLUMMpfbUBhwFdcgtolSt8PjVpJvoHTm9UmCrXPgvA9U4W0fJwC990NBoXOX-pANhaaI_uxxyWQzqndnCs2vawdntX8eYTfvl3xJAD7p22fPk0EcRvnWksb6aKJJZLMTvaTCyFja09IzXx3WiYdeg27uJpl_uTvV5M8jR-1ebA2Q5O7spN4CeUYZxa_MbPx0UkmWCQWPiQsHYff5wESb_F1D6970yffiA7IMh3_-DmHZwfwdD8Q3vX3SoyuJQrkRhaFkP4Oy84TE9WNTmXD4f0STwkAKHWZSfq4053qzMeu0T6zpMzKX5hGfJZ_BmwhKqC38gJHb-kt1pTwlHHnafO23tshDeVqpduQaeXV3P60JAckusmyvp5GERMbuTmXppJXGmLH79s8sK5WV2vVE3KnASbzBMNsEqYZomo6h2dYK5ZhVFS9ieLSPgLmmIMrawf2ZjIp4GygK1Hf7YXaBvvCPLOhMQIZ-UjneGTyku3NV-237c3Y6W4cDvF_6MtYWLmQW0RQbRWLWeHzoqAfnR-fl2VwXV8ZTWAqshB7gH76MHSO1iAxr5mEO7lJtIOXMzjk1ScqS3CFbN_9BTxj2iIJ1-LW0deIDeU2JHvY=w1666-h937-no?authuser=0);
        background-size: 130vw;
        padding: 3vw;
    }
}